{{- $name := "" -}}
{{- if (hasKey . "name") -}}
{{-   $name = .name -}}
{{- else -}}
{{-   $name = promptString "name" -}}
{{- end -}}
{{- $email := "" -}}
{{- if (hasKey . "email") -}}
{{-   $email = .email -}}
{{- else -}}
{{-   $email = promptString "email" -}}
{{- end -}}
{{- $setPoxy := promptBool "proxy" -}}

format: yaml
data:
  name: {{ $name | quote }}
  email: {{ $email | quote }}
  proxy:
    url: "localhost:3128"
    set: {{ $setPoxy | quote }}

encryption: "gpg"
gpg:
  recipient: "095E47AA0B13BA84E7A4E8FB4D5665820FF1D266"
