{{- $proxy := false -}}{{/* true if this machine requires a proxy */}}
{{- $proxy = promptBool "proxy" -}}

format: yaml
data:
  name: Michael Fornaro
  email: 20387402+xUnholy@users.noreply.github.com
  proxy:
    url: "localhost:3128"
    set: {{ $setPoxy | quote }}

encryption: "gpg"
gpg:
  recipient: "095E47AA0B13BA84E7A4E8FB4D5665820FF1D266"
