[user]
	email = {{ .email }}
	name = {{ .name }}
	signingkey = 06EEF3FD4B48A9B7
[http]
	proxy = {{ .proxy }}
[https]
	proxy = {{ .proxy }}
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[commit]
	gpgsign = true
[gpg]
	program = gpg
[format]
	signOff = true
[tag]
	gpgSign = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
