# .bash_profile

# Get the aliases and functions
if [ -f ~/.bashrc ]; then
	. ~/.bashrc
fi

# User specific environment and startup programs
export PATH=$PATH:$HOME/.local/bin:$HOME/bin

# SOPS will use VS Code
export EDITOR='code --wait'

# Setting GPG TTY - Git Signing
export GPG_TTY=$(tty)

# Set PATH to GOPATH/bin
# export PATH=$PATH:$(go env GOPATH)/bin

# Add Visual Studio Code (code)
# export PATH="\$PATH:/Applications/Visual Studio Code.app/Contents/Resources/app/bin"

# Configure global proxy settings
export http_proxy=http://{{ .proxy }}
export https_proxy=http://{{ .proxy }}
export ftp_proxy=http://{{ .proxy }}
export HTTP_PROXY=http://{{ .proxy }}
export HTTPS_PROXY=http://{{ .proxy }}
export FTP_PROXY=http://{{ .proxy }}
export ALL_PROXY=http://{{ .proxy }}
