{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

type brew &> /dev/null || /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

brew bundle --no-lock --file=/dev/stdin <<EOF
tap "fluxcd/tap"
tap "hashicorp/tap"
tap "go-task/tap"
tap "instrumenta/instrumenta"
brew "ansible"
brew "bash-completion"
brew "chezmoi"
brew "curl"
brew "direnv"
brew "fluxcd/tap/flux"
brew "fzf"
brew "geoip"
brew "git"
brew "gnupg"
brew "go-task/tap/go-task"
brew "hashicorp/tap/terraform"
brew "helm"
brew "jq"
brew "kubectx"
brew "kubernetes-cli"
brew "kubeseal"
brew "kubeval"
brew "kustomize"
brew "nmap"
brew "pre-commit"
brew "rust"
brew "sops"
brew "stern"
brew "tmux"
brew "watch"
brew "wget"
brew "velero"
brew "yamllint"
brew "yq"
brew "zsh"
brew "zsh-syntax-highlighting"
EOF
{{ end -}}