{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash
type brew &> /dev/null || /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
brew bundle --file $(chezmoi source-path)/Brewfile
{{- end }}
