[user]
	email = {{ .email }}
	name = {{ .name }}
	signingkey = {{ .chezmoi.homeDir }}/.ssh/{{ .sshKeyName }}.pub
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[url "git@github.com:"]
	insteadOf = https://github.com/
[commit]
	gpgsign = true
[gpg]
	format = ssh
{{- if eq .chezmoi.os "darwin" }}
	program = /opt/homebrew/bin/gpg
{{- else if eq .chezmoi.os "linux" }}
	program = /usr/bin/gpg
{{- end }}
[format]
	signOff = true
[tag]
	gpgSign = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
