[user]
	email = {{ .email }}
	name = {{ .name }}
	signingkey = {{ .chezmoi.homeDir }}/.ssh/id_ed25519.pub
{{ if (eq .proxy.set "true") }}
[http]
	proxy = {{ .proxy.url }}
[https]
	proxy = {{ .proxy.url }}
{{- end }}
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[commit]
	gpgsign = true
[gpg]
{{- if eq .chezmoi.os "darwin" }}
	program = /opt/homebrew/bin/gpg
	format = ssh
{{- else if eq .chezmoi.os "linux" }}
	program = /usr/bin/gpg
	format = ssh
{{- end }}
[format]
	signOff = true
[tag]
	gpgSign = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
