# .bashrc - minimal, primary shell is zsh
{{- if eq .chezmoi.os "darwin" }}
eval "$(/opt/homebrew/bin/brew shellenv)"
{{- else if eq .chezmoi.os "linux" }}
[ -x /home/linuxbrew/.linuxbrew/bin/brew ] && eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
{{- end }}
[ -f "$HOME/.cargo/env" ] && . "$HOME/.cargo/env"
