Host *
  AddKeysToAgent yes
{{- if (eq .chezmoi.os "darwin") }}
  IgnoreUnkown UseKeychain
  UseKeychain yes
{{- end }}
  IdentityFile ~/.ssh/id_ed25519

Host 192.168.*
  UserKnownHostsFile=/dev/null
  StrictHostKeyChecking no

Host github.com
  Hostname ssh.github.com
  Port 443
  ProxyCommand nc -X connect -x {{ .proxy }} %h %p
