#!/bin/bash

brew bundle --file=/dev/stdin <<EOF
{{ range (index .packages .chezmoi.os).taps -}}
tap {{ . | quote }}
{{ end -}}
{{ range (index .packages .chezmoi.os).brews -}}
brew {{ . | quote }}
{{ end -}}
{{ if eq .chezmoi.os "darwin" -}}
{{ range .packages.darwin.casks -}}
cask {{ . | quote }}
{{ end -}}
{{ end -}}
EOF
