Host *
  AddKeysToAgent yes
{{- if (eq .chezmoi.os "darwin") }}
  IgnoreUnknown UseKeychain
  UseKeychain yes
{{- end }}
  IdentityFile ~/.ssh/github_ed25519.pub

Host 192.168.*
  UserKnownHostsFile=/dev/null
  StrictHostKeyChecking no

Host github.com
  Hostname ssh.github.com
  Port 443
  IdentityFile ~/.ssh/github_ed25519.pub
{{- if (eq .proxy.set "true") }}
  ProxyCommand nc -X connect -x {{ .proxy.url }} %h %p
{{- end }}
