[Unit]
Description=Update chezmoi managed dotfiles
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
{{- if eq .chezmoi.os "darwin" }}
ExecStart=/opt/homebrew/bin/chezmoi update --no-tty
Environment="PATH=/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin"
{{- else }}
ExecStart=/home/linuxbrew/.linuxbrew/bin/chezmoi update --no-tty
Environment="PATH=/home/linuxbrew/.linuxbrew/bin:/usr/local/bin:/usr/bin:/bin"
{{- end }}
